#####################################################################
#   MACROS FOR MOONRAKER CONTROLLED DEVICES
#####################################################################

[gcode_macro POWER_OFF_MCU]
gcode:
  LIGHTS_OFF
  {
    action_call_remote_method("set_device_power",
                             device="MCU",
                             state="off")
  }

[gcode_macro POWER_ON_MCU]
gcode:
  LIGHTS_ON
  {
    action_call_remote_method("set_device_power",
                             device="MCU",
                             state="on")
  }

#####################################################################
#   GPIO RELAYS
#####################################################################

[output_pin Buttons]
pin: !host:gpiochip0/gpio19

#[output_pin relay2]
#pin: !host:gpiochip0/gpio26

#[output_pin relay3]
#pin: !host:gpiochip0/gpio13

#[output_pin relay4]
#pin: !host:gpiochip0/gpio6