#####################################################################
#       PROBE
#####################################################################
[probe]
##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
##  Connected to SENSOR or DIAG7 (with BAT85)
##  This can be connected in two positions depending on which probe
##    You're using. Uncomment the correct pin below
# pin: ~!PB7 # SENSOR port. Remove ! if probe is NO
pin: ^PG15  # DIAG7 port. NEEDS BAT85! Change to !PG15 if probe is NO. 
x_offset: 0
y_offset: 19.75
#z_offset: 0 ;UnKlicky
z_offset: 6.42 ;klicky probe
speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 3